<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/workout-log"></ion-back-button>
    </ion-buttons>
    <ion-title>Daily Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Steps Goal</ion-label>
      <ion-input [(ngModel)]="dailyGoals.steps" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Calories Goal</ion-label>
      <ion-input [(ngModel)]="dailyGoals.calories" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Exercise minutes Goal</ion-label>
      <ion-input [(ngModel)]="dailyGoals.minutes" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" (click)="saveGoals()">Save Goals</ion-button>
</ion-content>
